/*Rerira a decoração de texto dos links*/
.link {
    text-decoration: none;
}

/**/
.button {
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 18px;
    background: #002fff;
    border-radius: 15px;
}

